{%load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Formulario de registro de usuario</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/CUser.css'%}">
</head>
<body>
	<div class="form-container">
		<h1>Registro de usuario</h1>
		<form action="#" method="post">
            {% csrf_token %}
			<label for="dni">DNI:</label>
			<input type="text" id="dni" name="dni" required>

			<label for="apellido-paterno">Apellido Paterno:</label>
			<input type="text" id="apellido-paterno" name="apellidoPaterno" required>

			<label for="apellido-materno">Apellido Materno:</label>
			<input type="text" id="apellido-materno" name="apellidoMaterno" required>

			<label for="nombres">Nombres:</label>
			<input type="text" id="nombres" name="nombres" required>

			<label for="fecha-nacimiento">Fecha de Nacimiento:</label>
			<input type="date" id="fecha-nacimiento" name="fechaNacimiento" required>

			<label for="genero">Género:</label>
			<select id="genero" name="sexo" required>
				<option value="">Seleccionar...</option>
				<option value="M">Masculino</option>
				<option value="F">Femenino</option>
				<option value="O">Otro</option>
			</select>

			<label for="estado">Estado:</label>
			<select id="estado" name="tipoUsuario" required>
				<option value="">Seleccionar...</option>
				<option value="Administrador">Administrador</option>
				<option value="Director">Director</option>
				<option value="Docente">Docente</option>
				<option value="Coordinador">Coordinador</option>
				<option value="Alumno">Alumno</option>
			</select>

			<input type="submit" value="Enviar">
		</form>
        {% if dni %}
        Usuarios: {{ dni }}, guardado correctamente.
        {% endif %}
	</div>
</body>
</html>